@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

@media (max-width: 576px) {
    body {
      background-size: 100vw 100vh;
      background-repeat: no-repeat;
    }
  }
 
.ficon:hover {filter: invert(48%) sepia(7%) saturate(5421%) hue-rotate(184deg) brightness(75%) contrast(81%);}  
.ticon:hover{filter: invert(46%) sepia(86%) saturate(1446%) hue-rotate(176deg) brightness(100%) contrast(90%);}
.picon:hover{filter: brightness(0) saturate(100%) invert(12%) sepia(89%) saturate(6986%) hue-rotate(347deg) brightness(88%) contrast(106%);}
.yicon:hover{filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(7146%) hue-rotate(1deg) brightness(102%) contrast(118%);}
